 <h3>Links:</h3>
 <b>English</b>
 <br>
 <a ref="http://www.osalt.com" target="_new">Open Source Alternative</a>
 <br>
 <a href="http://www.linuxscrew.com" target="_new">Linux Screw</a>
 <br>
 <a href="http://www.linuxindya.com" target="_new">Linux Indya</a>
 <br>
 <a href="http://lin-app.com" title="LinApp - Linux commercial applications and games" target="_blank">Linux Applications</a>
 <br>
 <a href="http://www.opensourcehelpdesklist.com/" target="_new">Open Source Help Desk List</a>
 <br>
 <a href="http://www.itech7.com/" target="_new">Explore Technology @ iTech7</a>
 <br>
 <a href="http://www.webupd8.org/" target="_new">Web Upd8</a>
 <br>
 <br>
 <b>Italian <i>(Italiano)</i></b>
 <br>
 <a href="http://www.chimerarevo.com/" target="_new">Chimera Revo</a>
 <br>
 <a href="http://vistabuntu.wordpress.com/" target="_new">VistaBuntu Blog</a>
 <br>
 <br>
