  <a class="text-light" href="http://www.linuxscrew.com" target="_new">Linux Screw</a>, 
  <a class="text-light" href="http://www.linuxindya.com" target="_new">Linux Indya</a>, 
  <a class="text-light" href="http://lin-app.com" title="LinApp - Linux commercial applications and games" target="_blank">Linux Applications</a>, 
  <a class="text-light" href="http://www.opensourcehelpdesklist.com/" target="_new">Open Source Help Desk List</a>,
  <a class="text-light" href="http://www.webupd8.org/" target="_new">Web Upd8</a>, 
  <a class="text-light" href="http://vistabuntu.wordpress.com/" target="_new">VistaBuntu Blog</a>,
