  <a href="http://www.osalt.com" target="_new">Open Source Alternative</a>, 
  <a href="http://www.linuxscrew.com" target="_new">Linux Screw</a>, 
  <a href="http://www.linuxindya.com" target="_new">Linux Indya</a>, 
  <a href="http://lin-app.com" title="LinApp - Linux commercial applications and games" target="_blank">Linux Applications</a>, 
  <a href="http://www.opensourcehelpdesklist.com/" target="_new">Open Source Help Desk List</a>,
  <a href="http://www.itech7.com/" target="_new">Explore Technology @ iTech7</a>, 
  <a href="http://www.webupd8.org/" target="_new">Web Upd8</a>, 
  <a href="http://www.chimerarevo.com/" target="_new">Chimera Revo</a>, 
  <a href="http://vistabuntu.wordpress.com/" target="_new">VistaBuntu Blog</a>,
  <a href="http://www.linuxzasve.com/" target="_new">Linux Za Sve</a> 
  <a href="http://techhamlet.com/" target="_new">Tech Hamlet</a> 
  <a href="http://opensourcesoftwaredirectory.com/" target="_new">Open Source Software Directory</a> 
  <a href="http://www.ubuntuvibes.com/" target="_new">Ubuntu Vibes</a> 
  <a href="http://www.tuxarena.com/" target="_new">Tux Arena</a> 
  <a href="http://www.mamertum.it" target="_new">Mamertum</a> 
