<style>
#sharebar {position:fixed; bottom:15%; margin-left:-71px; float:left; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:#fff;padding:0 0 2px 0;z-index:10;}
#sharebar .sbutton {float:left;clear:both;margin:5px 5px 0 5px;}
.fb_share_count_top {width:48px !important;}
.fb_share_count_top, .fb_share_count_inner {-moz-border-radius:3px;-webkit-border-radius:3px;}
.FBConnectButton_Small, .FBConnectButton_RTL_Small {width:49px !important; -moz-border-radius:3px;-webkit-border-radius:3px;}
.FBConnectButton_Small .FBConnectButton_Text {padding:2px 2px 3px !important;-moz-border-radius:3px;-webkit-border-radius:3px;font-size:8px;}
</style>
<div>
  <div id='sharebar'>
    <div class='sbutton' id='fb'>
      <a name="fb_share" type="box_count" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    </div>
    <div class='sbutton' id='rt'>
      <script src="http://tweetmeme.com/i/scripts/button.js" type='text/javascript'></script>
    </div>
    <div class='sbutton' id='su'>
      <script src="http://www.stumbleupon.com/hostedbadge.php?s=5"></script>
    </div>

    <div class='sbutton' id='digg'>
      <script src='http://widgets.digg.com/buttons.js' type='text/javascript'></script>
      <a class="DiggThisButton DiggMedium"></a>
    </div>

  </div>
</div>
