  <a href="https://www.facebook.com/pages/The-Linux-Alternative-Project/129481340425546"><img src="/images/find-us-on-f
b.gif" border="0"></a>
  <br />
  <a href="http://twittercounter.com/linuxalt?from=button">
  <img
src="http://srv2.twittercounter.com/counter/index.php?username=linuxalt&style=blue"
border="0" /></a>
 <br>  <a href="http://feeds.feedburner.com/TheLinuxAlternativeProject"><img
src="http://feeds.feedburner.com/~fc/TheLinuxAlternativeProject?bg=CCCCCC&amp;fg=444444&amp;anim=0"
height="26" width="88" style="border:0" alt="" /></a>
