<!DOCTYPE html>
<html lang="en">
<head>
 <title>
  {% if page.title %} {{ page.title }} -{% endif %} The Linux Alternative Project
 </title>
 <meta http-equiv="Content-Language" content="English" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="google-site-verification" content="Lgfw0hbOlo7GLB3hunh92a49kNX53OURNHUpSXeig8g" />
 <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen" />
 <link rel="alternate" type="application/rss+xml" title="The Linux Alternative Project RSS Feed" href="http://feeds.feedburner.com/TheLinuxAlternativeProject" />
</head>

<body>
<div id="top">
    <div class="content">

      <div style="float: left">
       <h1><a href="/">The Linux Alternative Project</a></h1>
      </div>

</div>			
</div>

<div class="content">
	<div id="ad">
          Welcome to the Linux Alternative Project (formerly the Linux Equivalent Project). My goal is to provide an informational website available to all linux users. The website is currently in beta form and I will periodically update the database with Windows software and the Linux equivalents and alternatives.
	</div>

        <div class="announce">
         <a href="https://github.com/linuxalt/linuxalt-com">Contribute to this site at Github!</a> 
        </div>

	<div id="main">
		<div id="right_side">
		  <div class="roundedbox">
                    <h2>Navigate</h2>
                    <hr>
                    {% include menu.html %}
                  </div>
                  <br \>

                 <div>
                   {% include facebook.html %}
                 </div>

               </div>	
		<div id="left_side">
                    {{ content }}
                </div>
        </div>
</div>

<div class="clear"></div>

<div id="footer">
  <div class="content">

     <div style="float: left; width: 320px">
       <h2>More Information</h2>
       <ul>
        <li><a href="/linux-software/index.html">Linux Software Index</a>
        <li><a href="/social-networking.html">Social Networking</a>
       </ul>
     </div> 

     <div style="float: left; width: 320px">
      <h2>Links</h2>
       {% include links.html %}
     </div> 

     <div style="float: right; width: 320px; text-align: right">
      <a href="https://www.facebook.com/pages/The-Linux-Alternative-Project/129481340425546" target="_new"><img src="/images/facebook.png"></a>
      <a href="http://feeds.feedburner.com/TheLinuxAlternativeProject" target="_new"><img src="/images/rss.png"></a>
    </div>

  </div>
</div>

<div class="content">Since 2006, The Linux Alternative Project!</div>
{% include analytics.html %}
</body>
</html>
