---
layout: default
---

      <div class="box" style="float: left;">
       <h2>Articles</h2>
        <ul>
    {% for post in site.posts limit:5 %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
        </ul>
      </div>

      <div class="box" style="float: right;">
       <h2>Forum Activity</h2>
        <ul>
         <li><a href="http://forum.linuxalt.com/read.php?5,197,197#msg-197" target="_new">New Intel drivers rocks.. (no replies)</a>
         <li><a href="http://forum.linuxalt.com/read.php?5,152,152#msg-152" target="_new">Another video editor... (no replies)</a>
         <li><a href="http://forum.linuxalt.com/read.php?5,149,149#msg-149" target="_new">uTorrent alternatives (2 replies)</a>
         <li><a href="http://forum.linuxalt.com/read.php?5,143,143#msg-143" target="_new">Dead Links (2 replies)</a>
        </ul>
      </div>

      <div class="clear"></div>

      <div id="alternatives-table">
       <h2>Alternatives</h2>
        {% include alternative-table.html %}
      </div>
