---
layout: default
---

<article>

  <h2> <a href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ page.title }}</a></h2>
   <p> Posted on: {{ page.date | date: "%Y-%m-%d" }} </p>

   {{ content }}

  <div style="float: left;" class="left">
    {% if page.previous.url  %}
      <a href="{{ page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
  </div>

  <div style="float: right;" class="right">
    {% if page.next.url %}
      <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
    {% endif %}
  </div>

</article>
<br/>
<br/>
{% include disqus.html %}
